<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h2 class="text-center">Create an account</h2>
          <br>
          <div class="panel panel-primary">
            <div class="panel-body">
              <%= form_for @user do |form| %>
              <div class="form-group">
                <%= form.label :name, class: "col-lg-2 control-label" %>
                <%= form.text_field :name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :play_name, class: "col-lg-2 control-label" %>
                <%= form.text_field :playa_name, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :email, class: "col-lg-2 control-label" %>
                <%= form.text_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= form.label :password, class: "col-lg-2 control-label" %>
                <%= form.text_field :password, class: "form-control" %>
              </div>
              <%= form.button 'Submit', class: "btn btn-success" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
