<% provide(:title, 'Add Item') %>
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div class="container">
        <!-- Example row of columns -->

        <div class="row">
            
  <legend><h1> Add an item</h1></legend>

         <%= form_for @item do |form|%>

  <div class="form-group">
    <%= form.label :category_id, class: "col-lg-2 control-label" %>
   <%= form.select :category_id, Category.all.collect{ |c| [c.name, c.id] },class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :name, class: "col-lg-2 control-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "enter item name" %>
  </div>
<div class="form-group">
    <%= form.label :description, class: "col-lg-2 control-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "please enter an item description" %>
  </div>

<div class="form-group">
    <%= form.label :storage, class: "col-lg-2 control-label" %>
    <%= form.text_field :storage, class: "form-control", placeholder: "where is it stored?" %>
  </div>

<div class="form-group">
    <%= form.label :identifier, class: "col-lg-2 control-label" %>
    <%= form.text_field :identifier, class: "form-control", placeholder: "enter the identifier" %>
  </div>

  <div class="form-group">
    <%= form.label :owner, class: "col-lg-2 control-label" %>
    <%= form.text_field :owner, class: "form-control", placeholder: "who owns it?" %>
  </div>

<div class="form-group">
    <%= form.label :purchase_date, class: "col-lg-2 control-label" %>
    <%= form.text_field :purchase_date, class: "form-control", placeholder: "when was it purchased?" %>
  </div>

<div class="form-group">
    <%= form.label :purchase_price, class: "col-lg-2 control-label" %>
    <%= form.text_field :purchase_price, class: "form-control", placeholder: "how much was it? " %>
  </div>

  <%= form.button 'Add item to library', class: "btn btn-primary" %>
 </div>
<% end %>
        
    </div>
</body>
</html>
