<% provide(:title, 'Events') %>
  

<div class="container">
  <div class="row">
    <div class="col-md-6">

    <b>
      Item Name: </b>
      <%= @item.name %><br>
      <b>
      Category: </b>
      <%= @category.name %><br>
      <b>
      Identifier date: </b>
      <%= @item.identifier %><br>
      <b>
      Item description:</b>
      <%= @item.description %><br>

<br>
<b>Comments:</b>
<% @comments.each do |poop| %>
<p><% @users.each do |pee| %><%= pee.name %>
<% end%> says: </p>
<p class="text-warning"><%= poop.remark %></p>
<% end%>



    </div>
    <div class="col-md-6">
      <b>
      Storage: </b>
      <%= @item.storage %><br>
      <b>
      Owner: </b>
      <%= @item.owner %><br>
      <b>
      purchase date: </b>
      <%= @item.purchase_date %><br>
      <b>
      Purchase price: </b>
      <%= @item.purchase_price %><br>
    </div>
  </div>
 </div>
<div class="container">
        <div class="row">
            <div class=".col-md-6 .col-md-offset-2">
                        <%= link_to "Edit item in library", edit_item_path, class: "btn btn-primary" %>
            </div>
        </div><br>
        <div class="row">
            <div class=".col-md-6 .col-md-offset-2">
                        <%= link_to "Delete", item_path, method: :delete, data: {confirm:'Are you really sure? THIS BUTTON WORKS'}, class: "btn btn-danger"  %> 
            </div>
        </div>

</div>
